*{
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
}
body{
    margin:0;
    height: 100vh;
}
nav{
    width: 100%;
    height:1.2em;
    font-size: 1em;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: rgb(239, 250, 193);
    padding:0.5em 0;
}
main{
    min-height: calc(100vh - 4.4em - 2em);
}
nav a{
    padding:0.5em 0;
    width: calc(100% / 3);
    text-align: center;
    text-decoration: none;
    color:black;
}
nav a:hover,.active_anchor{
    color:rgb(182, 3, 3);
    width: calc((100% / 3) - 2 * 2px);
    border: rgb(182, 3, 3) 2px solid;
}
h1{
    text-align:center;
    margin:0;
}
h2{
    text-align:center;
    margin:0 0.2em 0.2em;
}
footer{
    width: 100%;
    height:1.2em;
    font-size: 1em;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    background-color: rgb(238, 238, 174);
    bottom:0px;
    position: sticky;
    padding:0.5em 0;
}
.error_title{
    text-align: center;
    color: rgb(76, 24, 24);
    font-size: 2em;
}
.error_title img{
    height: 1.5em;
}
.loading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 1.5em;
}
.todo_form_add,.todo_form_modify,.todo_form_default,.agenda_form_default,.agenda_form_add{
    margin:1%;
    width: 98%;
}
.todo_content{
    width: calc(98%-2px);
    background-color: rgb(238, 229, 218);
    padding:1%;
    border: 1px black solid;
    font-weight: bold;
}
.todo_content textarea,.todo_form_add textarea{
    resize: vertical;
}
.todo_content span{
    width: 100%;
    text-align: justify;
    display: block;
    margin: 0 0 .5%;
}
.todo_content button{
    margin: 0 0 .5%;
}
.todo_form_modify{
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.todo_form_remove,.agenda_form_remove{
    margin: .5% 0 0;
}
.todo_form_add{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.todo_form_remove_all,.agenda_form_remove_all{
    margin:1% 1%;
}
.todo_form_done{
    margin:0;
    width: fit-content;
}
.checked{
    color:rgb(158, 158, 158);
    font-weight: 100;
    font-style: italic;
}
.agenda_content{
    width: calc(100% - 2% - 2px);
    background-color: rgb(193, 245, 245);
    padding:1%;
    border: 1px solid black;
}
.login_modify_form{
    margin: 1% 0 0;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.login_modify_form *{
    margin: 0 0 1%; 
}
.login_content{
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.login_content form *{
    margin:0.5em 0; 
}
.connection_content{
    display: flex;
    position: fixed;
    right: 5vw;
    bottom: 4vw;
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.connection_content form{
    margin: 0;
}
.disconnect_form_button,.connection_content a{
    border: 1px black solid;
    color: black;
    background-color: rgb(238, 238, 238);
    border-radius: .6em;
    font-size: .9em;
    padding:.1em;
    margin:.5em;
    text-decoration: none;
}
.disconnect_form_button:hover,.connection_content a:hover{
    border: 1px rgb(182, 3, 3) solid;
    color:rgb(182, 3, 3);
    cursor: pointer;
}