*{
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
    color : var(--black);
    --light_green : rgb(199, 240, 181);
    --red_anchor : rgb(182, 3, 3);
    --light_blue : rgb(209, 244, 245);
    --light_blue_alt : rgb(176, 225, 225);
    --grey_button : rgb(228, 224, 224);
    --grey_done : rgb(188, 197, 197);
    --blue_focus : rgb(156, 235, 235);
    --black : rgb(87, 87, 87);
}
body{
    margin:0;
    height: 100vh;
    background-color: rgb(226, 237, 222);
}
header{
    background-color: var(--light_green);
    padding:.5em 0;
}
header h1{
    text-align:center;
    margin:0;
}
nav{
    width: 100%;
    height:1.2em;
    font-size: 1em;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: var(--light_green);
    padding:.5em 0;
}
main{
    min-height: calc(100vh - 4.4em - 2em);
}
nav a{
    padding:.5em 0;
    width: calc(100% / 3 - 2px);
    text-align: center;
    text-decoration: none;
    color:var(--black);
}
nav a:hover,.active_anchor{
    color:var(--red_anchor);
    outline: var(--red_anchor) 2px solid;
}

h2{
    text-align:center;
    margin:0 .2em .2em;
}
footer{
    width: 100%;
    font-size: 1em;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    background-color: var(--light_green);
    bottom:0px;
    position: sticky;
    padding:.5em 0;
}
input[type=submit],button{
    cursor: pointer;
}
textarea,input[type=text],input[type=password],input[type=datetime-local],input[type=email],input[type=checkbox]{
    background-color: var(--grey_button);
    border: 2px var(--black) solid;
}
input[type=checkbox]{
    accent-color: var(--blue_focus);
}
textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=datetime-local]:focus,input[type=email]:focus{
    background-color: var(--blue_focus);
}
.error_title{
    text-align: center;
    color: rgb(76, 24, 24);
    font-size: 2em;
}
.error_title img{
    height: 1.5em;
}
.loading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.loading img{
    width: 1.5em;
}
.todo_form_add,.todo_form_default,.agenda_form_default,.agenda_form_add{
    margin:1%;
    width: 98%;
}
.todo_form_modify,.agenda_form_modify{
    margin:0 0 1em;
    width: 98%;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.todo_content,.agenda_content{
    width: calc(100% - 2em - 2px);
    padding:1em;
    border: 1px var(--black) solid;
}
.todo_content,.agenda_content{
    background-color: var(--light_blue);
}
.todo_content_check,.agenda_content_pastEvent{
    background-color: var(--grey_done);
}
.todo_content_altcol,.agenda_content_altcol{
    background-color: var(--light_blue_alt);
}
.todo_content{
    font-weight: bold;
}
.todo_content textarea,.todo_form_add textarea{
    resize: vertical;
}
.todo_content span,.agenda_content span{
    width: 100%;
    text-align: justify;
    display: block;
    margin: 0 0 .5%;
}
.todo_form_remove,.agenda_form_remove{
    margin: 0;
}
.todo_form_add{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.todo_form_remove_all,.agenda_form_remove_all{
    margin:1% 1%;
}
.todo_form_done{
    margin:0;
    width: fit-content;
}
.checked{
    color:rgb(158, 158, 158);
    font-style: italic;
    font-weight: 100;
}
.login_modify_form{
    margin: 1% 0 0;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.login_modify_form *{
    margin: 0 0 1%; 
}
.login_content{
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.login_content form *{
    margin:.5em 0; 
}
.login_content a:hover{
    color:var(--red_anchor);
}
.connection_content{
    display: flex;
    position: fixed;
    right: calc(2 * .25em);
    bottom: calc(1em + 2 * .5em + 2 * .25em);
    width: fit-content;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2525256e;
    border-radius: 0.8em;
    border: 1px black solid;
}
.connection_content form{
    margin: 0;
}
.disconnect_form_button,.connection_content a{
    margin:.25em;
}
.view_modify{
    margin:1em 0;
}
.connection_content a, form input[type=submit], .view_modify{
    border: 1px var(--black) solid;
    color: var(--black);
    background-color: var(--grey_button);
    border-radius: .8em;
    font-size: .9em;
    padding:.1em .35em;
    text-decoration: none;
}
.connection_content a:hover, form input[type=submit]:hover, .view_modify:hover{
    border: 1px var(--red_anchor) solid;
    color:var(--red_anchor);
    cursor: pointer;
}
.form_search{
    margin:1%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.form_search *{
    margin:0 0.5%;
}
.form_search input[type=submit]{
    display: none;
}
.form_search label img{
    width: 1em;
    padding:.2em;
    cursor: pointer;
    border-radius: 100%;
    background-color:var(--black);
}
.welcome_home{
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.3em;
    margin:.4em 0 0;
}